body{
    background-color: hsl(212, 45%, 89%);
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
}

.layout {

    background-color: hsl(0, 0%, 100%);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    border-radius: 5%;
    text-align: center;
}

.qrImg {
    width: 100%;
    border-radius: 5%;
}

h {
    font-weight: 600;
}

p {
    margin-top: 0;
    font-size: 18px;
}
