* {
    box-sizing: border-box;
}


body {
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: hsl(216, 12%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Overpass", sans-serif;
}

.evaluation {
    border-radius: 1.5em;
    width: 400px;
    padding: 1.8em;
    background-color: hsl(213, 19%, 18%);
    
}


.star {
    background-color: hsl(216, 12%, 54%);
    padding: 0.9rem;
    border-radius: 50%;
}

.heading {
    margin-bottom: 0.5em;
    color: hsl(0, 0%, 100%);
    font-size: 1.6rem;
    text-align: center;
}

.paragraph {
    line-height: 1.7em;
    margin-top: 0;
    font-size: 0.9rem;
    color: hsl(218, 15%, 68%);
    font-size: 15px;
}

.numbers {
    display: flex;
    justify-content: space-around;
    margin: 1.7em 0;
    font-weight: bold;

}

.circle {
    background-color: hsl(216, 12%, 54%);
    border-radius: 100%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgb(225, 69, 69) 1px 1px 3px 2px;
}

.circle:hover {
    background-color: hsl(51, 44%, 54%);
    border-radius: 100%;
    cursor: pointer;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 350px;
    height:40px;
    border-radius: 15px;
    box-shadow: black 4px 5px 20px 8px;
    color: hsl(0, 100%, 50%);
    font-weight: 540;
    font-size: 18px;
    cursor: pointer;
}

.thankyou {
    display: block;
    border-radius: 1.5em;
    width: 400px;
    padding: 1.8em;
    background-color: hsl(213, 19%, 18%);
}

.thankYouImage {
    transform: translateX(70px) translateY(-2px);
}

.msg {
    background-color: hsl(224, 9%, 24%);
    border-radius: 1em;
    width: 200px;
    display: flex;
    justify-items: center;
    align-items: center;
    transform: translateX(35%);
    margin-top: 20px;
    height: 35px;
    padding: 1px 8px;
    color: hsl(14, 83%, 54%);
    font-weight:400;

}

.thankyou {
    display: none;
}
